{% load static %}
{% load timetags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>KalkiConnect</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<h1 align="center">Gen Point Data Table (Count : {{genPointCount}})</h1>
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Tag Name</th>
								<th class="column2">Gateway Point ID</th>
								<th class="column3">Value</th>
								<th class="column4">Flags</th>
								<th class="column5">Time Tag</th>
								<th class="column6">DataType</th>
							</tr>
						</thead>
						<tbody>
								{% for r in genPointDataList %}
						      <tr>
						        <td class="column1">{{r.tagname}}</td>
						        <td class="column2">{{r.pointid}}</td>
						        <td class="column3">{{r.value}}</td>
						        <td class="column4">{{r.flags}}</td>
						        <td class="column5">{{r.timetag|print_timestamp}}</td>
						        <td class="column6">{{r.datatype}}</td>
						      </tr>
						    {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="{% static '/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
